<app-header> </app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col col-md-6 landing-form">
      <blockquote class="blockquote">
        <h1 class="mb-0 landing-heading-fontcolor"> All in a good place <span style="color:black;">Reserve </span> your favorite place with us. </h1>
        <!-- <p class="mb-0 landing-para-fontcolor"> Your diet is a bank account. Good food choices are good investments. </p> -->
      </blockquote>

      <div class="form-group row">
        <div class="col col-md-4">
          <input class="form-control" type="date" value="2020-10-21" id="example-date-input">
        </div>
        <div class="col col-md-4">
          <input class="form-control" type="time" value="19:00:00" id="example-time-input">
        </div>
        <div class="col col-md-4">
          <select class="form-control" id="exampleSelect1">
            <option>1 person</option>
            <option>2 people</option>
            <option>3 people</option>
            <option>4 people</option>
            <option>5 people</option>
            <option>Larger Party</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col col-md-6">
          <input class="form-control" type="search" value="Location, Restaurant, or Cuisine" id="example-search-input">
        </div>
        <div class="col col-md-6">
          <button type="submit" (click)="goToBookingPage()" class="btn btn-primary">Search Restaurant</button>
        </div>
      </div>
    </div>
    <div class="col col-md-5 col-sm-5 col-lg-5">
      <img src="assets/foodBackground2.jpeg" class="rounded-circle img-fluid landing-image"/>
    </div>
  </div>

<br><br><br>
 <div class="row">
     <div class="col col-md-6">
       <h3 class="text-primary">Restaurants near by you</h3>
       <h6 class="text-danger">View All</h6>
     </div>
     <br>
     <br><br>
   <div class="card-deck">
     <div class="col col-md-3">
       <div class="card">
         <img class="card-img-top" src="assets/restaurant_image1.jpeg" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">Piatti - Santa Clara</h5>
           <p class="card-text">Traditional Italian trattoria with an open kitchen & pizzas from a stone-hearth oven.</p>
         </div>
         <div class="card-footer">
          <strong class="text-danger">Reserve</strong>
        </div>
       </div>
     </div>

     <div class="col col-md-3">
       <div class="card">
         <img class="card-img-top" src="assets/restaurant_image2.jpeg" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">Birk's</h5>
           <p class="card-text">Tucked away in an office park, this restaurant serves steaks & seafood in a classic bistro setting.</p>
         </div>
         <div class="card-footer">
          <strong class="text-danger">Reserve</strong>
        </div>
       </div>
     </div>

     <div class="col col-md-3">
       <div class="card">
         <img class="card-img-top" src="assets/restaurant_image5.jpeg" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">Opa! Santa Clara</h5>
           <p class="card-text">Lively eatery dishing up Greek classics such as souvlaki, pitas & moussaka also features a full bar.</p>
         </div>
         <div class="card-footer">
          <strong class="text-danger">Reserve</strong>
        </div>
       </div>
     </div>

     <div class="col col-md-3">
       <div class="card">
         <img class="card-img-top" src="assets/restaurant_image4.jpeg" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">Athena Grill</h5>
           <p class="card-text">Festive eatery, decked out in blue & white, draws crowds with hearty Greek eats, including souvlaki.</p>
         </div>
         <div class="card-footer">
          <strong class="text-danger">Reserve</strong>
        </div>
       </div>
     </div>

   </div>
 </div>



<app-footer></app-footer>
</div>
