<app-landing-page> </app-landing-page>

<div class="modal" id="SignUpModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title SignUp-heading-fontcolor">Welcome to ReserveUs!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #userSignUp = "ngForm" (ngSubmit) = "onClickSignUp(userSignUp.value)" >
          <fieldset>
            <div class="form-group">
              <input class="form-control" id="fname" name="fname" placeholder="First Name" ngModel>
            </div>
            <div class="form-group">
              <input class="form-control" id="lname" name="lname" placeholder="Last Name" ngModel>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" ngModel>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" ngModel>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Re-enter password" ngModel>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
